<!DOCTYPE html>
<html>
    
    <head>
        
        <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    </head>
    
    <body>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>  
        

<div class="container">
<form action="/home/<%=@post.id%>/update_board" method="get">
  <div class="form-group">
    <label for="exampleInputEmail1">제목</label>
    <input type="text" class="form-control" name="title" value="<%= @post.title %>">
  </div>
  
  <div class="form-group">
    <label for="exampleInputPassword1">작성자</label>
    <input type="text" class="form-control" name="writer" value="<%= @post.writer %>" readonly>
  </div>
  
  <div class="form-group">
    <label for="exampleTextarea">내용</label>  
    <textarea class="form-control" rows="3" name="content"><%= @post.content %></textarea>
  </div>
  
  <button style="margin-top:10px;" type="submit" class="btn btn-default;">수정하기</button>
  
</form>
</div>
    </body>
</html>