<section id="contact">
<div class="view">

   <!--<img alt="" class="bg" src="images/placeholders/1920x1200-2.jpg" style="transform: translate3d(-739px, 155px, 0px) scale(1.32789, 1.32789); opacity: 1; transform-origin: left center 0px;"><img alt="" class="bg" src="images/placeholders/1920x1200-0.jpg" style="transform: translate3d(-739px, 155px, 0px) scale(1.27833, 1.27833); opacity: 0; transform-origin: left center 0px;">-->
   <div class="content no-bottom-padding colors-e">
      <div class="container">
    asdf
    asdfa
    asdfasdf
    </div>
    </div>
</div>
</div>