<section id="work">
<div class="view">
	<div class="content no-bottom-padding colors-e">
		<div class="container">
			<h2>Mentor &amp; Mentee</h2>
			<h3 style="padding-bottom:20px;color:#828282;">management</h3>
			<!--멘토-->
			<div class="col-lg-12 text-center">
				<h5>My Mentor</h5>
			</div>
			<div class="container">
				<div class="jumbotron">
					<div class="row alert" style="background-color:#dcdcdc;">
						<div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
							<img src="https://www.svgimages.com/svg-image/s5/man-passportsize-silhouette-icon-256x256.png" alt="stack photo" class="img" style="margin: 15px 0 0 25px;">
						</div>
						<div class="col-md-8 col-xs-12 col-sm-6 col-lg-8">
							<div class="container" style="border-bottom:2px solid gray">
								<h2>Kim fe</h2>
							</div>
							<hr>
							<ul class="container details">
								<li>
								<p>
									<span class="glyphicon glyphicon-envelope one" style="width:50px;"></span>kimjinlee22@gmail.com
								</p>
								</li>
								<li>
								<p>
									<span class="glyphicon glyphicon-star one" style="width:50px;"></span>#자기소개서 #토익
								</p>
								</li>
							</ul>
						</div>
						<button type="button" class="close" style="margin-top:3px;color:red;" data-dismiss="alert" aria-hidden="true">[Mentor Clear]</button>
					</div>
				</div>
			</div>
			<!--멘티-->
			<div class="container" id="tourpackages-carousel">
				<div class="row">
					<div class="col-lg-12 text-center">
						<h5>My Mentee</h5>
					</div>
					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 alert">
						<div class="thumbnail">
							<div class="caption">
								<div class="col-lg-12 well well-add-card text-left">
									<h4 style="margin-top:20px;font-size:30px;">kim fe</h4>
								</div>
								<div class="col-lg-12">
									<p>
										 #자격증#토익#정보처리기사
									</p>
									<p class"text-muted"="">
									</p>
								</div>
								<button type="button" class="btn btn-xs btn-update btn-add-card" data-dismiss="alert" aria-hidden="true" style="color:red;">Mentee Clear</button>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 alert">
						<div class="thumbnail">
							<div class="caption">
								<div class="col-lg-12 well well-add-card text-left">
									<h4 style="margin-top:20px;font-size:30px;">kim ferrari</h4>
								</div>
								<div class="col-lg-12">
									<p>
										 #자격증#토익#정보처리기사
									</p>
									<p class"text-muted"="">
									</p>
								</div>
								<button type="button" class="btn btn-xs btn-update btn-add-card" data-dismiss="alert" aria-hidden="true" style="color:red;">Mentee Clear</button>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 alert">
						<div class="thumbnail">
							<div class="caption">
								<div class="col-lg-12 well well-add-card text-left">
									<h4 style="margin-top:20px;font-size:30px;">kim feromon</h4>
								</div>
								<div class="col-lg-12">
									<p>
										 #자격증#토익#정보처리기사
									</p>
									<p class"text-muted"="">
									</p>
								</div>
								<button type="button" class="btn btn-xs btn-update btn-add-card" data-dismiss="alert" aria-hidden="true" style="color:red;">Mentee Clear</button>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 alert">
						<div class="thumbnail">
							<div class="caption">
								<div class="col-lg-12 well well-add-card text-left">
									<h4 style="margin-top:20px;font-size:30px;">kim fericana</h4>
								</div>
								<div class="col-lg-12">
									<p>
										 #자격증#토익#정보처리기사
									</p>
									<p class"text-muted"="">
									</p>
								</div>
								<button type="button" class="btn btn-xs btn-update btn-add-card" data-dismiss="alert" aria-hidden="true" style="color:red;">Mentee Clear</button>
							</div>
						</div>
					</div>
				</div>
				<!-- End row -->
			</div>
			<!-- End container -->
		</div>
	</div>
</div>
</section>