<section id="contact">
<div class="view">
    asdf
    asdfasdf
    asdfasdf<br/><br/><br/><br/><br/><br/>
	<input type="text" class="form-control" id="tokenfield" value="red,green,blue" />
</div>
</section>